  
    <div data-toggle="collapse" data-target="#template1" class="collapsed heading" ng-click="toggleCheck('1')"><span class="toggleIcon1 up down"></span>
        <label class="handCursor">Template Management</label>
    </div>  
    <div class="sub-menu subToggle1 collapse" id="template1">
        <a ui-sref="home.template" class="active"><span> View Templates </span></a>
        <a ui-sref="home.noData"><span> Create Template </span></a>
        <a ui-sref="home.noData"><span> Edit Template </span></a>
    </div>
    
        <div data-toggle="collapse" data-target="#template2" class="collapsed heading" ng-click="toggleCheck('2')"><span class="toggleIcon2 up down"></span>
        <label class="handCursor">Manage Campaigns</label>
    </div>  
    <div class="sub-menu subToggle2 collapse" id="template2">
        <a ui-sref="home.noData"><span> No Link </span></a>
        <a ui-sref="home.noData"><span> No Link </span></a>
        <a ui-sref="home.noData"><span> No Link </span></a>
    </div>

